<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of serverArray">
          <div>
            <p class="list-group-item-heading">{{ server.name | shorten:'7' }}</p>
            <p class="list-group-item-text">
              <label>Created on:</label>
              {{ server.createdOn | date:'dd-MM-yyyy hh:mm a' }}
            </p>
            <p class="list-group-item-info">{{ server.status | lowercase}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
